/* Colors */
:root {
    --sp-green: #ffffff;
    --sp-white: #ffffff;
    --sp-primary: #d61523;
    --sp-primary-dark: #cc0d1b;
    --sp-primary-light: #fef8f8;
    --sp-secondary: #151635;
    --sp-secondary-dark: #242424;
    --sp-border-dark: #dddddd;
    --sp-border-light: #e9e9e9;
    --sp-border-extra-light: #f2f2f2;
    --sp-scrollbar-thumb: #c2c2c2;
    --sp-font-sans-serif: "Fira Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --sp-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --sp-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --sp-gradient-focus: linear-gradient(#d61523, #d61523), linear-gradient(#e9e9ea, #e9e9ea);
    --sp-shadow: 2px 5px 20px rgba(0, 0, 0, .2);
    --sp-radius: 3px;
    --sp-transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

/* ---//--- */

/* --- Selection Colors --- */
::-webkit-selection {
    background-color: var(--sp-primary);
    color: #ffffff;
}

::selection {
    background-color: var(--sp-primary);
    color: #ffffff;
}

/* ---//--- */

/* --- Scrollbar Colors --- */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--sp-border-extra-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--sp-scrollbar-thumb);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: var(--sp-border-extra-light);
}

body {
    background: #ffffff;
    overflow-x: hidden;
}

/* ---//--- */

.our_section_part {
    width: 100%;
    padding: 60.763px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    background-color: rgb(241, 241, 241);
}

.our_section_part_inner {
    width: 80%;
    overflow-x: hidden;
    max-width: 75em;
    height: 100%;
    height: max-content;
    user-select: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.our_section_part_title_an_nav {
    display: flex;
    max-width: 75em;
    align-items: center;

    &>h2 {
        font-size: 44px;
    }

    &>nav>div {
        border: 1px solid rgb(244, 80, 95);
        width: 2.8em;
        height: 2.8em;
        background-image: url('/img/right_arr_icon.svg');
        background-position: center;
        background-size: 1.7em;
        background-repeat: no-repeat;
        cursor: pointer;

        &:hover {
            transition: all ease 0.2s;
            filter: brightness(10%);
        }
    }

    &>nav {
        margin-left: 2em;
        width: 6.2em;
        display: flex;
        justify-content: space-between;
    }
}

#our_section_part_nav_left_btn {
    rotate: 180deg;
}

.our_section_part_discription {
    margin-top: 4em;
    color: RGB(102, 102, 102);
    font-size: 18px;
    font-weight: 400;
}

.our_section_part_main {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
}

.feature-wrap {
    border: 2.4px solid rgb(199, 199, 199);
    padding: 15px;
    height: 40em;
    min-width: 12em;
    background-color: white;
    user-select: none;
    pointer-events: none;

    &>div {
        width: 100%;
        height: 35em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;

        &>.future-icons {
            display: flex;
            flex-direction: column;
            align-items: center;

            &>img {
                max-width: 3em;
            }
        }
    }

    &>h3 {
        text-align: center;
        width: 100%;
    }
}

.our_section_part_main_right {
    width: 100%;
}

.feature_right {
    width: 100%;
    height: max-content;
    padding-left: 3em;

    &>.feature_right_element:not(:first-child) {
        margin-top: 2em;
    }
}

.feature_right_element {
    height: 13.3em;
    display: flex;

}

.feature_right_element_left {
    width: 10em;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
}

.feature_right_element_left_title_btn {
    border: 2.4px solid rgb(199, 199, 199);
    background-color: white;
    width: 100%;
    height: 70%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;

    &:hover {
        border: 3.4px solid rgb(199, 199, 199);
    }

    &>img {
        max-width: 2em;
        max-width: 2em;
    }

    &>h4 {
        font-size: 1em;
        text-align: center;
    }

    z-index: 1;

    &::before {
        z-index: 0;
        content: '';
        background-color: rgb(199, 199, 199);
        width: 100%;
        height: 0.4em;
        position: relative;
        rotate: 90deg;
        top: 12.9em;
    }

    &::after {
        content: '';
        background-image: url('https://cdn-gfcdj.nitrocdn.com/qrrGJpWmpjCjqXVLeiFcclxzCdkAOpud/assets/images/optimized/rev-7e78864/www.futurebridge.com/wp-content/themes/master-theme/images/Arrow.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 7.05em;
        position: relative;
        width: 1.6em;
        height: 1.6em;
    }
}

#feature_right_element_left_title_btn3 {
    &::before {
        display: none;
    }

    &::after {
        display: none;
    }
}

#feature_right_element_left_title_btn_arr {
    max-width: 1.2em;
    position: relative;
    top: 1em;
}

.feature_right_element_left_title_btn_arr_3 {
    top: 0em !important;
}

.feature_right_element_right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 4em;

    &::after {
        content: '';
        background-color: rgb(199, 199, 199);
        width: 49.1%;
        max-width: 50em;
        height: 0.4em;
        z-index: 0;
        position: absolute;
        min-width: 50em;
    }
}

.features_dot {
    z-index: 1;
    border: 2px solid rgb(244, 80, 95);
    width: 2.2em;
    height: 2.2em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        border: 3px solid rgb(244, 80, 95);
    }

    &>div {
        background-color: rgb(244, 80, 95);
        width: 80%;
        height: 80%;
    }
}

.feature_right_element_right_featurs_btn_an_text {
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    bottom: 1em;

    &>h4 {
        font-size: 0.95em;
        /* border: 1px solid red; */
        text-align: center;
        height: 9em;
        position: absolute;
        width: 9em;
        left: -137%;
    }

}

.our_section_part_main_right_phones {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    flex-direction: column;
}

.feature_phone_section_pa {
    &>section {
        border: 2.4px solid rgb(199, 199, 199);
        height: 5em;
        width: 100%;
        max-width: 35em;
        background-image: url('/img/right_arr_icon.svg');
        background-position: 95%;
        background-repeat: no-repeat;
        background-size: 2em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1em;
        padding-right: 3em;

        &>img {
            max-width: 2em;
        }

        &>h4 {
            font-size: 1em;
            margin-left: 1em;
        }
    }
}

.feature_phone_section_pa_btn_ {
    &>div {
        display: flex;
        padding: 1.5em 2em;
        justify-content: left;
        align-items: center;

        &>h4 {
            font-size: medium;
            margin-left: 1em;
        }

        &>section {
            border: 2px solid rgb(244, 80, 95);
            width: 2.2em;
            height: 2.2em;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            flex-shrink: 0;

            &:hover {
                border: 3px solid rgb(244, 80, 95);
            }
        }

        &>section>div {
            background-color: rgb(244, 80, 95);
            width: 80%;
            height: 80%;
        }
    }
}

#ht-ctc-chat {
    margin-bottom: 4em;
}

body::-webkit-scrollbar {
    display: none;
}

.ourServices_modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000000000;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.ourServices_modal_middle_box {
    height: max-content;
    width: 80%;
    max-width: 30em;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(167, 167, 167);
}

.ourServices_modal_middle_box_close_section {
    height: 3em;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;

    &>div {
        border: none;
        width: 2em;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 2em;
        scale: 1.2;
        justify-content: center;
        font-weight: 900;
        color: black;
        background-color: transparent;
        cursor: pointer;
    }
}

.ourServices_modal_middle_box_content {
    /* text-align: center; */
    padding-left: 3em;
    padding-right: 2em;
    padding-bottom: 2em;
    color: rgb(0, 0, 0);
}

#ourServices_modal_middle_box_content_title {
    font-size: large;
    font-weight: 600;
}

#ourServices_modal_middle_box_content_description {
    margin-top: 1em;
    font-size: large;
}

#ourServices_modal_middle_box_content_points {
    padding-left: 2em;
    max-height: 255px;
    overflow-y: scroll;

    &>section {
        display: flex;

        &>p {
            font-size: 3em;
            color: rgb(244, 80, 94);
        }

        &>h4 {
            font-size: large;
            color: rgb(102, 102, 102);
            display: flex;
            align-items: center;
            margin-left: 5px;
        }
    }

    &>section:not(:first-child) {
        margin-top: -2em;
    }
}

/* #get_started_btn_heroSection{
    
        display: none;
    
} */

.our_client_section_part {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    flex-direction: column;
}

.our_client_section_part_inner_div {
    /* border: 1px solid green; */
    max-width: 75em;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.our_client_section_part_client_logo_show {
    height: 15em;

    &>h4 {
        font-size: x-large;
        padding: 1em 0em 0.5em 0em;
        text-transform: uppercase;
        font-weight: 400;
        border-bottom: 1.5px solid black;
    }
}

.client_logo_images_part {
    height: 70%;
    display: flex;
    align-items: center;

    &>img:first-child {
        transform: rotate(180deg);
    }

    &>img {
        max-width: 2em;
        cursor: pointer;
    }

    &>div {
        overflow-x: hidden;
        width: 100%;
    }

    &>img:not(:first-child) {}
}


#client_logo_images_part_strip_div {
    transform: translateX(6%);

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 10em;
    }

    &>div>img {
        margin-left: 8em;
        width: 100%;
        pointer-events: none;
    }
}

#client_logo_images_part_strip_div {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
    width: 90%;
    transform: translateX(-4%);
}

.our_client_section_part_image_an_text_show {
    background-color: rgb(255, 231, 231);
    /* height: 32em; */
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
    user-select: none;

    &>h4 {
        text-align: center;
    }
}

.our_client_section_part_image_an_text_show_in {
    height: 100%;
    margin-top: 1em;
    max-width: 70em;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;

    &>section {
        /* overflow-x: hidden; */
        width: max-content;
    }

    &>img {
        max-width: 2em;
        cursor: pointer;
    }

    &>img:first-child {
        rotate: 180deg;
    }
}

#our_client_info_strip_move {
    height: 100%;
    display: flex;
    overflow-x: hidden;

    &>div {
        height: 100%;
        display: flex;
        padding: 1em;
    }

    &>div>div {
        align-content: center;
        flex-shrink: 0;

        &>img {
            width: 200px;
            height: 200px;
        }
    }

    &>div>section {
        padding: 1em 1em;

        &>h4 {
            font-size: 1.3em;
            color: rgb(214, 21, 35);
            font-weight: 600;
        }

        &>p {
            word-wrap: normal;
            font-size: medium;
            margin-top: 1.5em;
        }
    }

}

.our_team_section_part {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_team_section_part_inner {
    width: 80%;
    max-width: 75em;
    height: max-content;
}

.our_team_section_part_header {
    align-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0em;

    &>h2 {
        color: rgb(214, 21, 35);
    }

    &>p {
        margin-top: 1em;
        width: 80%;
        font-size: larger;
        font-weight: 300;
    }
}

.our_team_section_team_cards_div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    padding: 1em;
    padding-bottom: 5em;

    &>figure {
        overflow: hidden;

        &>img {
            user-select: none;
        }

        &>section {
            position: absolute;
            overflow: hidden;
            /* height: 36%; */
            height: max-content;
            display: flex;
            width: 17.5em;

            &>ul {
                background-color: rgb(214, 21, 35);
                height: 100%;
                margin-top: -1%;
                display: flex;
                flex-direction: column;
                align-items: top;
                justify-content: top;
                transition: all ease 0.3s;
                transform: translateX(-110%);
                padding: 0.6em 1em;

                &>li {
                    text-decoration: none;
                    list-style: none;
                    margin-top: 1em;
                    user-select: none;

                    &>a {
                        &>img {
                            filter: invert();
                            width: 100%;
                            max-width: 1em;

                        }
                    }
                }
            }
        }

        &>div {
            padding: 1em;

            &>h3 {
                font-size: 1.4em;
                font-weight: 400;
            }

            &>p {
                text-transform: uppercase;
                color: rgb(110, 110, 110);
            }
        }
    }
}

.heroSection_getStarted_text {
    background-color: rgb(214, 21, 35);
    padding: 0.6em 1em;
    font-size: large;
    font-weight: 600;

    &:hover {
        background-color: black !important;
        color: rgb(255, 231, 231) !important;
        font-size: 1.3em;
    }
}

.membershipProgram_part_main {
    display: none;
    /* border: 1px solid red; */
    width: 100%;
    height: max-content;
    flex-direction: column;
    padding-top: 2em;

}

.membershipProgram_part_main_top_text_div {
    width: 100%;
    display: flex;

    &>h3 {
        font-size: xx-large;
    }

    &>h4 {
        font-size: medium;
        text-align: bottom left;
        margin-top: auto;
        margin-bottom: 5px;
    }
}

.membershipProgram_part_main_bottom_box_div_top {
    display: flex;
    padding-left: 2em;
    padding-top: 1em;

    &>section:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 25.5em;
        border: 1px solid black;
        background-color: white;
        flex-shrink: 0;

        &>h2 {
            font-size: 1.4em;
            text-align: center;
            padding-bottom: 5px;
            border-bottom: 3px solid black;
        }

        &>h4 {
            font-size: 1em;
            text-align: center;
            font-weight: 400;
            padding: 1em 2em;
        }

        &>a>img {
            max-width: 6em;
        }
    }

    &>section:last-child {
        width: 100%;
        display: flex;
        align-items: center;
        /* padding-right: 2em; */

        &>div {
            padding: 2em 0em;
            padding-left: 3em;

            &>h2 {
                font-size: 1.18em;
                font-weight: 400;
            }

            &>h2:last-child {
                margin-top: 1em;
            }
        }

        &>img {
            width: 200px;
            height: 140px;
        }
    }
}

.membershipProgram_part_main_bottom_box_div_bottom {
    border: 1px solid #F9515F;
    height: max-content;
}


.membershipProgram_part_top {
    border: 1px solid green;
    position: absolute;
    width: 340px;
    height: calc(100%-2px);
}

.membershipProgram_part_inner_strips {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;

    &>section:first-child {
        &>div {
            text-transform: uppercase;
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(249, 81, 95, 1) 24%);
            color: white;
            text-align: right;
            padding: 2px;
            max-width: 70%;
            transition: all ease 0.3s;
            margin-bottom: 6px;

            &>a::after {
                content: '';
                border: 14px solid;
                position: absolute;
                border-color: transparent transparent transparent #f9515f;
                margin-left: 0.2%;
            }
        }
    }
}

.our_section_part_inner {
    display: flex;
    width: max-content;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

.our_section {
    height: 45em;
    width: 20em;
    flex-shrink: 0;
}

.our_section_over_box {
    width: 100%;
    height: 100%;
    background-color: #192656;
    border-left: 3px solid #36446D;
    padding: 3em 2em;
    color: #F3F0CA;
    overflow: hidden;

    &>h4 {
        font-weight: 500;
        display: flex;

        &>div {
            width: 50%;
            border-bottom: 3px solid #F3F0CA;
        }
    }

    &>p {
        margin-top: 1.5em;
        color: white;
        font-size: 1em;
    }

    &>div {
        display: flex;
        height: 60%;
        width: 100%;

        &>figure {
            border: 1.8px solid #36446D;
            height: 100%;
            flex-shrink: 0;
        }

        &>section {
            /* border:1px solid red; */
            width: 100%;
            display: flex;
            flex-direction: column;

            &>h4 {
                /* border: 1px solid red; */
                align-content: center;
                height: 100%;
                font-size: small;
                font-weight: 400;
                margin-top: 1.5em;
                /* padding-left: 1.3em; */
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: -12px;

                &>div {
                    width: 1.5em;
                    height: 1.5em;
                    background-color: #F3F0CA;
                    border-radius: 50%;
                    flex-shrink: 0;
                    margin-right: 1.3em;
                }

                &>p {
                    margin-right: auto;
                    margin-top: 12px;

                    &>a {
                        text-decoration: none;
                        color: white;
                    }
                }

            }
        }
    }
}

.our_section_scroll_btn {
    font-size: 5em;
    margin: 0% 1%;
    user-select: none;
    cursor: pointer;

    &>img {
        max-width: 1em;
    }
}

#our_section_scroll_btn_left {
    rotate: 180deg;
}

.our_section_over_box4 {
    background-color: #F3F0CA;
    color: #192656;
}

.our_section_over_box2 {
    &>section {
        &>div {
            /* border: 1px solid red; */
            padding-left: 3em;

            &>section {
                &>h4 {
                    font-size: small;
                    margin-bottom: 10px;
                }

                &>h4:last-child {
                    color: white;
                }
            }

            &>figure {
                width: 3em;
                height: 3em;
                background-color: white;
                position: absolute;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -4em;
                color: black;
            }
        }
    }
}

.our_section_over_box3 {
    &>div {
        flex-direction: column;

        &>section {
            /* border: 1px solid red; */
            height: 100%;

            &>div {
                display: flex;
                padding-top: 2em;

                &>figure {
                    width: 6em;
                    height: 6em;
                    background-image: url('https://images.unsplash.com/photo-1604882737274-4afaddefec9b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
                    background-repeat: no-repeat;
                    background-position: left;
                    background-size: cover;
                    border-radius: 50%;
                    flex-shrink: 0;
                    margin-right: 0.6em;
                }

                &>section {
                    width: 100%;

                    &>h4 {
                        font-size: medium;
                    }

                    &>h4:first-child {
                        padding-right: 3em;
                        margin-bottom: 5px;
                    }

                    &>h4:last-child {
                        font-weight: 400;
                        font-size: small;
                        /* margin-top: 1em; */
                    }
                }
            }

            &>div:last-child {
                /* border: 1px solid red; */
                padding: 2em 0em;
                flex-direction: column;

                &>img {
                    filter: invert();
                    rotate: 180deg;
                    max-width: 4em;
                }

                &>h2 {
                    font-size: small;
                    padding-right: 2em;
                    padding-left: 8px;
                    color: white;
                    font-weight: 400;
                }
            }

        }

        &>figure {
            border: none;
            border-top: 2px solid white;
            position: relative;
            right: 30px;
        }
    }
}

.our_section_over_box4 {
    &>h4 {
        &>div {
            border-color: #192656;
        }
    }

    &>p {
        color: black;
    }

    &>div>section {
        margin-top: 1.5em;

        &>div {
            &>h4 {
                font-size: medium;
                padding-left: 2.8em;
                margin-bottom: 1.4em;

                &::before {
                    content: '';
                    background-image: url('../../img/tick_box.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    position: absolute;
                    width: 2em;
                    height: 2em;
                    margin-left: -2.7em;
                }
            }
        }

        &>div:last-child {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &>img {
                border-radius: 50%;
                box-shadow: 5px 5px 4px #7F7E6D;
            }
        }
    }
}

.our_section_phone {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;

    &>figure {
        width: 100%;
        max-width: 30em;
        height: 6em;
        margin-bottom: 4em;
        background-color: #192656;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 1em;
        padding-right: 2em;
        color: white;

        &>img {
            rotate: 180deg;
        }

        &>h4 {
            font-size: medium;
        }

    }

    &>figure:last-child {
        background-color: #F3F0CA;
        color: black;
    }

    &>figure:not(:last-child) {
        &>img {
            filter: invert();
        }
    }
}

.our_section_phone_popup {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: none;
    flex-direction: column;

    &>div {
        height: max-content;
        max-width: 20em;
    }

    &>figure {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1em;
        width: 100%;
        max-width: 20em;
        height: 3, 5em;
        cursor: pointer;

        &>h2 {
            rotate: 45deg;
        }
    }
}

/* #our_section_phone_popup4{
    display: flex;
} */
#enquriy_home_nav_btn {
    cursor: pointer;
}

#enquriy_home_nav_modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000000000;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    display: none;

    &>div {
        overflow: hidden;
        border-radius: 0.8em;
        width: 80%;
        max-width: 50em;
        background-color: white;

        &>figure {
            padding: 0.5em 1em;
            display: flex;
            justify-content: flex-end;
            /* background: rgb(255,161,161);
            background: linear-gradient(180deg, rgb(255, 207, 207) 0%, rgba(255,255,255,1) 100%);             */
            background-color: #ffffff;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23960000'/%3E%3Cstop offset='1' stop-color='%23c50000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23868686'/%3E%3Cstop offset='0.09' stop-color='%23ababab'/%3E%3Cstop offset='0.18' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.31' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.44' stop-color='%23e5e5e5'/%3E%3Cstop offset='0.59' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.75' stop-color='%23f9f9f9'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: top left;

            &>h2 {
                font-size: 2em;
                cursor: pointer;
                user-select: none;
            }
        }

        &>section {
            height: 30em;
            max-height: 30em;
            overflow-y: scroll;
            background-color: #ffffff;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(-141.75 -23.6) rotate(-29.75 1409 581) scale(0.7286999999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='translate(-291 141) rotate(-7.699999999999999 800 450) scale(0.9699499999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-33.1 27) rotate(-127 401 736) scale(0.9699499999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(846 43.6) rotate(-10.9 150 345) scale(1.0549)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='translate(-14 -402.5) rotate(-212.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-286 42) rotate(-35.4 1400 132) scale(0.5)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: cover;

            &>form {}
        }
    }

    &>figure {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}

#enquiry_form_main_div {
    /* border: 1px solid red; */
    height: 100%;
    padding-top: 2em;
}

.enquiry_form_input_box {
    min-width: 100%;
    display: flex;
    justify-content: space-between;

    &>section {
        padding: 1em;
        width: 50%;

        &>select {
            width: 100%;
            margin-top: 1em;
        }

        &>h4 {
            /* border: 1px solid red; */
            width: 90%;
            font-size: medium;
            user-select: none;
        }

        &>input {
            width: 100%;
            margin-top: 1em;
            border: 0.5px solid rgb(202, 202, 202);
        }
    }

    &>section:has(input)>h4::after {
        content: '*';
        width: 1em;
        height: 1em;
        color: red;
    }
}

.enquiry_form_input_box_imp_phone_mob>section>h4::after,
.enquiry_form_input_box_imp_messageIfAny>section>h4::after {
    content: '*';
    width: 1em;
    height: 1em;
    color: red;
}

.enquiry_form_submit_btn_div {
    padding: 2em 1em;
}

.enquiry_form_input_box_imp_messageIfAny {
    &>section>textarea {
        border: 0.5px solid rgb(202, 202, 202);
        margin-top: 1em;
    }

    &>section {
        width: 100%;
    }
}

.dropdown ul li {
    width: 100% !important;
}

#zsiq_float {
    display: none !important;
    opacity: 0 !important;
}


#ast-scroll-top {
    display: flex !important;
    align-items: center;
    justify-content: center;
}





























@media (max-width: 1120px) {
    .our_section_part_main {
        flex-direction: column;
    }

    .feature_right {
        padding-left: 0px;
    }

    .feature_right_element_left {
        display: flex;
        width: 100%;
    }

    .our_section_part_main_right {
        display: none;
    }

    .our_section_part_main_right_phones {
        display: flex;
    }

    .feature-wrap {
        height: 26em;
        padding-bottom: 2em;

        &>div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            height: 100%;
        }

        &>h3 {
            text-align: center;
            width: 100%;
        }
    }

    .membershipProgram_part_main_top_text_div {
        flex-direction: column;

        &>h3 {
            font-size: 1.4em;
        }

        &>h4 {
            font-size: 0.8em;
        }
    }

    .membershipProgram_part_main_bottom_box_div_top {
        &>section:first-child {
            display: none;
        }
    }

    .membershipProgram_part_main_bottom_box_div_top {
        padding-left: 0em;

        &>section:last-child {
            background-color: rgb(226, 226, 226);
            padding-right: 1em;

            &>div {
                &>h2 {
                    font-size: 0.8em;
                    font-weight: 400;
                }
            }

            &>img {
                width: 100px;
                height: 70px;
            }
        }
    }

    .our_section {
        display: none;
    }

    .our_section_phone {
        display: flex;
    }

    .enquiry_form_input_box {
        flex-direction: column;

        &>section {
            width: 100%;
        }
    }

    .our_section_over_box {
        &>div>section {
            &>h4 {
                padding-left: 1.3em;
                display: unset;
                margin-left: unset;

                &::before {
                    content: '';
                    width: 1.5em;
                    height: 1.5em;
                    background-color: #F3F0CA;
                    border-radius: 50%;
                    position: absolute;
                    margin-left: -2.2em;
                    margin-top: ;
                }
            }
        }
    }

    .our_section_scroll_btn {
        display: none;
    }
}






@media (max-width: 880px) {
    .our_section_part_title_an_nav {
        &>h2 {
            font-size: 30px;
        }

        &>nav {
            margin-left: 0.5em;
        }
    }

    #client_logo_images_part_strip_div {
        &>div>img {
            margin-left: 4.3em;
        }
    }

    #our_client_info_strip_move {
        &>div>div {
            display: flex;
            align-content: top;
            flex-shrink: 0;
            padding-top: 1em;

            &>img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .our_team_section_team_cards_div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        grid-column-gap: 15px;
        grid-row-gap: 20px;

        &>figure {
            overflow: hidden;

            &>section {
                /* height: 50.7%;
                width: 24.6em; */
            }
        }
    }
}


@media (max-width: 480px) {
    .feature_phone_section_pa {
        &>section {
            padding-right: 2.5em;

            &>img {
                max-width: 2em;
            }

            &>h4 {
                font-size: 1em;
                margin-left: 1em;
            }
        }
    }

    #client_logo_images_part_strip_div {
        &>div>img {
            max-width: 6em;
            margin-left: 3em;
        }
    }

    #ourServices_modal_middle_box_content_points {
        &>section:not(:first-child) {
            margin-top: -1.5em;
        }
    }
}